[2020-04-21 14:35] jamesmfriedman commented on #614
They're already supported actually. Straight from the docs

[code]

If you don't want the section labels, just pass empty strings.

[2020-04-21 20:32] nicholaschiang commented on #601
@jamesmfriedman we really need this functionality; it's causing some serious problems with our new `UserDialog` as well:

![Screenshot 2020-04-21 at 1 30 27 PM](https://user-images.githubusercontent.com/20798889/79910996-7f48bc00-83d4-11ea-979b-a53bf279e151.png)

The prefilled `TextField`'s notches are notched as they should be.

[2020-04-21 20:34] nicholaschiang commented on #611
One more question @jamesmfriedman: how does one ensure that the `Menu` **always** stays anchored to the **bottom left** of the anchor? Right now, it starts there initially but then jumps to the top when the `TextField` expands to a certain point.

[2020-04-21 20:35] nicholaschiang commented on #601
See [this issue](https://github.com/tutorbookapp/covid-tutoring/issues/8) for more details about our original problem.

[2020-04-21 20:54] nicholaschiang commented on #614
Yeah @jamesmfriedman, but it looks like it still inserts a `<div class="mdc-list-group__subheader" />` which I don't want:

![Screenshot 2020-04-21 at 1 52 01 PM](https://user-images.githubusercontent.com/20798889/79912822-7efdf000-83d7-11ea-832b-2f9ccacc8b61.png)

Those subheaders make the divisions between the lists uneven (i.e. it looks like there's a lot more padding before the list than after

[2020-04-21 20:55] nicholaschiang commented on #614
Could you make it omit those subheaders when we pass a `null` or empty string `label`?

[2020-04-22 00:11] jamesmfriedman commented on #613
Not sure about your question at the end there @nicholaschiang. The props signature of an enhanced select (the kind that would need "renderToPortal" is either a boolean OR menu props.

[code]

[2020-04-22 00:12] jamesmfriedman commented on #613
But @peterkle @nicholaschiang  is correct with his answer. See the example above ^

[2020-04-22 00:13] jamesmfriedman commented on #611
I know you can set the anchorPosition yourself, but I'm not sure if the library supports it ALWAYS staying in the event it would be clipped.

[2020-04-22 00:37] jamesmfriedman commented on #601
I'm glad you're getting a lot of use out of the library.

I went ahead and added a `floatLabel` prop directly to textfield that lets you override whatever it wants to do. It doesn't animate the label, but it does indeed work.

I readily accept PRs, so don't be afraid to get your hands dirty as well ;). Tests running as we speak, should be published shortly 6.1.0.

[2020-04-22 00:37] #601 closed

[2020-04-23 18:15] maml opened #616 "Question: How to set ripple color for IconButton?"
RMWC  6.0.14
React    16.12.0
Building with [Parcel](https://parceljs.org/)

Similar to #482, but for an IconButton.

I am using ```<ThemeProvider />``` and ```<IconButton />```  to set the same custom color for both the icon and ripple. What's the correct way to do this? The following will change the icon's color but the ripple remains the default color&mdash;black.

[code]
[
sandbox](https://cod

[2020-04-24 04:50] puru0019 commented on #462
@jamesmfriedman you are saying,  we can override the var with new font family?

[2020-04-24 08:52] MiK546 commented on #613
I was also having my menus clipping and tried the to render the opened menu to a portal using
[code]
That doesn't seem to work though. The menu is still rendered as a sibling of the enhanced select menu itself.

Putting the renderToPortal to the props of the `<Select/>` element itself seems to partially work.
[code]
The menu is rendered correctly to a Portal added to the application. But now the s

[2020-04-25 17:26] cordial-canary commented on #600
There are no chips at that link, and I can't reproduce the issue. Did the sandbox code change?

[2020-04-25 20:32] jamesmfriedman commented on #600
Since I’m the code sandbox owner I accidentally edited the original and then had to revert it. But this is still an open issue.

[2020-04-25 21:58] cordial-canary commented on #600
I'd like to try to hunt down this bug. Any hints on how to reproduce it? The onRemove handlers are only getting called when the chips are closed in this sandbox:

[https://codesandbox.io/s/rmwc-typescript-sandbox-lmd9h](https://codesandbox.io/s/rmwc-typescript-sandbox-lmd9h)

[2020-04-26 04:27] meghoshpritam opened #617 "Typo in rmwc.io/provider page example"
- RMWC v6.1.0

- Typo in [rmwc.io/provider](https://rmwc.io/provider) page example

- `tootlip={{
        align: 'right'
      }}` will be `tooltip={{
              align: 'right'
            }}`

[2020-04-26 05:58] Immortalin opened #618 "Documentation page on mobile has horizontal overflow"
Documentation pages have horizontal overflow on mobile.

[2020-04-26 18:30] anthonysapien opened #619 "Can't figure out how to focus a TextField"
- What RMWC Version are you using [major.minor.patch]: 6.1.0

- Name your build system [Webpack, Rollup...]: create-react-app

- Describe the bug with as much detail as possible: I'm unable to programmatically set focus to a TextField

- What happened, and what was supposed to happen:
I tried to set a ref on the TextField and call ref.current.focus() but it doesn't seem to have an effect.

Thanks!

[2020-04-26 20:35] jamesmfriedman commented on #619
There is an inputRef prop. Ref is a reference to the inputs container.

[2020-04-28 10:44] victorandree opened #620 "Update to material-components-web 8"
[material-components-web v8.0.0](https://github.com/material-components/material-components-web/blob/master/CHANGELOG.md#800-2020-11-02) has been released with quite a few changes. This release has a decent amount of new features I'd personally love to use. Unfortunately, the list of breaking changes is also long.

Hoping to see the release incorporated into this project :)

PS. I hope it's helpfu

[2020-04-28 12:35] jamesmfriedman commented on #620
It’s fine as a place to coalesce around. I already read through the changes. Shouldn’t be that bad this time around, but they changed the Select again which is responsible for over half the patches this library gets...

[2020-04-30 05:23] NilapuAnusha opened #621 "Tool tip is not showing when disabled attribute present in text field"
I can see tool tip when I provide title attribute along with disabled attribute to `<input />`.

I can't see tool tip when I provide title attribute along with disabled to text field
`<TextField label="standard..." type="fastField" title="tooltip" disabled />`

I just want to show tool tip even though disabled is present.
Is it possible using `<TextField />`

[2020-04-30 09:15] kale1d0code commented on #277
I was using material-ui until recently when I discovered this library
I'm using it to build a webform to integrate into an existing website for work at the moment but this is what I'd use going forward

[2020-04-30 12:18] jamesmfriedman commented on #621
That just sounds like the browsers default behavior which would be to not show a title tooltip on a disabled element.

- you can try using the rmwc tooltip component around the Texfield component
- you can try adding title to rootProps

[2020-05-01 03:46] NilapuAnusha commented on #621
@jamesmfriedman thanks for your reply. Will give a try.

[2020-05-01 18:44] sangdth opened #622 "Please help this TypeScript problem"
Honestly, I can't make the codesandbox to reproduce the problem, for some reason, the Nextjs template on Codesandbox just stuck when I initiate it, it just spins forever.

I've tried to create with plain React, it just works fine. But it crashes on my Next project.

This is what I want, just a simple wrap for Button: https://codesandbox.io/s/wrapped-button-wut7u

When I try to use it in my Nextjs

[2020-05-01 18:46] jamesmfriedman commented on #622
https://rmwc.io/type-system

Bottom of the docs page

[2020-05-01 18:47] jamesmfriedman commented on #622
As I re-read them, they might be slightly out of date, but same general concept.

You'll want to make your component extend ButtonProps & React.HTMLProps<HTMLButtonElement>

[2020-05-01 18:47] sangdth commented on #622
Yes, I followed that doc, literally copied from there.

[2020-05-01 18:53] jamesmfriedman commented on #622
@sangdth you're running into an age old React typescript problem which is when you want to use prop names that make sense, but they happen to conflict with real dom attributes.

Fixed the sandbox,
https://codesandbox.io/s/wrapped-button-u2r0k?file=/src/App.tsx

Basically, use `Omit` anytime you have a conflict. Internally in RMWC it should have omitted the label prop for you, so not sure why that

[2020-05-01 19:01] sangdth commented on #622
AHHHHHHH SO SWEET! It does not crash now! I didn't know the conflict problem.

Thanks so much!

[2020-05-01 19:01] #622 closed

[2020-05-02 07:31] kapilgarg1996 opened #623 "Ripples not disabled with RMWCProvider"
I want to disable ripple only for TextField but after spending hours i couldn't find a way to do so. Why there isn't a basic option to enable/disable ripples on components which come with ripples by default. Did i miss anything in the documentation ? Or if such option is there then can it be highlighted in the documentation?

- RMWC Version: 6.0.14

- Name your build system : Webpack (create-react

[2020-05-02 11:31] jamesmfriedman commented on #623
It sounds like you are talking about the underline, not the ripple effect. The ripple is the background ink drop thing that happens.

The underline cannot be disabled currently but you can hide it with some basic css rules.

[2020-05-03 13:16] anthonysapien commented on #619
I finally got to this, and it's working with inputRef. Thanks so much!

[2020-05-03 13:16] #619 closed

[2020-05-03 13:38] anthonysapien commented on #462
hi @puru0019 i was able to set this style globally:

--mdc-typography-font-family: proxima-nova;

[2020-05-04 16:16] JCofman opened #624 "Datable controll sort without providing onSortChange prop"
Hi ✌️,

I found an interesting behavior in the `Datatable` when using sorting and trying to control sort with a prop without using the `onSortChange` callback.

repo -> https://codesandbox.io/s/rmwc-typescript-sandbox-md4ui?file=/src/index.tsx

- What RMWC Version are you using:
  Using the latest version 6.1.0

- Name your build system:
  Create React App with typescript support

- Describe the b

[2020-05-05 09:04] puru0019 commented on #462
Thank you @anthonysapien and @jamesmfriedman. Should I upgrade my RMWC version to `6.1.0` to apply this change. Currently I am using 5.7.2 version

[2020-05-05 12:04] ziperfal123 opened #625 "QUESTION (stuck..): what is the the most right & simple way to style a component"
Hey,
im trying to use RMWC in order to implement custom components (suppose to look totally different). I started with a classic Input component & I am really struggling with finding the way to do that. i read in the docs that the right approach is to override the RMWC classes, but im finding myself filling my css files with very large & repetitive selectors, which looks and feels really bad.
What

[2020-05-05 13:36] jamesmfriedman commented on #625
Hi, I think you might want to look at google's SASS part of the library. They allow you to do some very deep customization. https://material.io/develop/web/docs/theming/

[2020-05-05 21:34] iddan commented on #277
Also using it for Cayley UI: https://github.com/cayleygraph/web

[2020-05-07 01:17] MikeCastillo1 opened #626 "Margin at TopAppBar it does not fit correctly"
- What RMWC Version are you using [major.minor.patch]:
6.014
- Name your build system [Webpack, Rollup...]:
webpack
- Describe the bug with as much detail as possible:
there is a margin when using top-app-bar
- What happened, and what was supposed to happen:

the top app bar should fit at the top of the browser without a margin, you can see on the following sandbox:
https://codesandbox.io/s/rmwc-s

[2020-05-07 01:29] jamesmfriedman commented on #626
The styles come directly from google, so this would be an upstream issue.

But the actual issue is that every browser has a default margin / padding on the body. Either use a reset or just apply margin and padding of 0 to the body and HTML element.

[2020-05-07 01:30] #615 closed

[2020-05-07 23:44] BalamChaac commented on #626
Hello James,

Ok, I will review that, also I notice that the font does not adapt to different screen sizes, the ones that are featured like headline1 headline 3, etc.

do you have an example on how to manage this from rmwc?, thanks

[2020-05-09 17:16] mockingbird87 commented on #613
Have you been able to find a fix/workaround for this issue?

I've tried substituting the `<Select>` component for a `<Menu>` component with `renderToPortal={true}`. This solved the clipping issue and the menu rendered nicely in the Portal but the `onSelect` and `onClose` events get killed :(

My current workaround is to add an `onClick` event handler to the `<MenuItem>`'s, not the cleanest solutio

[2020-05-09 18:34] anthonysapien opened #627 "SimpleMenu breaks when adding "renderToPortal" prop"
Here's a sandbox:
https://codesandbox.io/s/rmwc-sandbox-ybu69?file=/index.js

- What RMWC Version are you using [major.minor.patch]:
6.1.0

- Name your build system [Webpack, Rollup...]:
create-react-app

- Describe the bug with as much detail as possible:
Adding the renderToPortal prop to SimpleMenu causes the menu to no longer handle menu item selection.

- What happened, and what was supposed t

[2020-05-09 18:46] anthonysapien commented on #627
I just tested the standard Menu, and it has the same issue. The renderToPortal Menu does not handle selection here: https://rmwc.io/menus

[2020-05-09 23:11] mockingbird87 commented on #627
Can confirm, I'm running into this issue as well!!

See my response[ here](https://github.com/jamesmfriedman/rmwc/issues/613#issuecomment-626207976) for a workaround.

[2020-05-11 08:24] wmadden commented on #530
It would be good to use a representation that prevents people choosing both at the same time, e.g. `variant: "filled" | "outlined" | "fullwidth" = "filled"`

[2020-05-11 10:56] jamesmfriedman commented on #530
Some components in this library can have a large number of possible prop combinations which makes the concept of variant hard to maintain. Would be easier and more straight forward to add a warning in the console for this.

[2020-05-12 23:53] jjimenezlopez opened #628 "Can I make a Select clearable?"
- What RMWC Version are you using [major.minor.patch]:
6.1.0

- Name your build system [Webpack, Rollup...]:
Webpack

- Describe the bug with as much detail as possible:
I'm creating an **outlined** `<Select>` component which I need to be clearable. I'll try to explain myself: I create this select:

[code]

Once I select an option, I cannot clear the field. There is an empty option which is create

[2020-05-13 01:12] PsiRadish opened #629 "Drawer won't close if initially open and display: none"
**Note**: Not *sure* this isn't an MDC bug, though I did search their issues list and didn't find it.

- **What RMWC Version are you using:**
5.7.2, though I also have it repro-ing in the sandbox which says it's using version 6.1.0

- **Name your build system:**
Webpack, un-ejected create-react-app configuration

- **Describe the bug with as much detail as possible:**
Our app renders two dismissab

[2020-05-13 19:25] kapilgarg1996 commented on #623
Yes, i meant underline only and i ended up disabling it using CSS. I personally think there should be an option to disable the underline ripple also. But even if it is not going to come, there should be some documentation about the css hack.

[2020-05-14 02:29] francos opened #631 "Outlined buttons use grey color for border"
### What RMWC Version are you using [major.minor.patch]:

6.0.14

### Name your build system [Webpack, Rollup...]:

Webpack

### Describe the bug with as much detail as possible:

Outlined buttons border color is grey by default instead of using the primary color set. This can be seen in the RMWC website: https://rmwc.io/buttons

### What happened, and what was supposed to happen:

The border colo

[2020-05-14 02:31] jamesmfriedman commented on #631
This is something you’d have to open with google. RMWC uses the css directly from Material components web, they have recently changed the spec.

[2020-05-14 02:34] francos commented on #631
Thanks for the quick answer @jamesmfriedman, checking their website they are still showing the primary color for outlined colors: https://material.io/components/buttons (maybe their website is not updated though).

Is there a way to change the border color using RMWC or CSS properties?

[2020-05-14 02:52] jamesmfriedman commented on #631
Oddly enough, the spec is updated, RMWC is right, their live docs are wrong. https://material.io/develop/web/components/buttons/

Just standard css. Target the button and set it's border color to `border-color: currentColor`

[2020-05-14 03:19] francos commented on #631
Thanks for the info @jamesmfriedman! I'll close this then.

[2020-05-14 03:19] #631 closed

[2020-05-14 08:32] iaaltojarvi opened #632 "Changing @rmwc textfield ripple background color hides input"
- What RMWC Version are you using: @rmwc/textfield": "6.1.0"

- Name your build system: Create-React-App

Problem: When I change the ripple color of the field, the user input disappears. Has to do something with z-indexes, but if I change the index of ripple, the background-color styling has no effect.

In css the background-color is changed this way (if I add lower z-index to that, the styling di

[2020-05-16 15:09] wmadden opened #633 "Textfield ignores theming options"
`<Textfield>` ignores theming options which should otherwise change its text color (and maybe background color).

A really simple example of this is the RMWC docs in dark mode:

![image](https://user-images.githubusercontent.com/12165/82123113-df463e80-9797-11ea-87d4-21837a4a3138.png)

I'm not sure if it's a bug with MDC since the theme implementation is in RMWC but the SASS providing `input { col

[2020-05-16 16:23] jamesmfriedman commented on #633
Yes this is a bit tricky. As a rule the majority of styling comes from MDC but their support for css variables is inconsistent. RMWC maintains a file that fixes a lot of these issues, so this might just be on that hasn’t been addressed. I’ll take a look.

[2020-05-18 08:56] Hardtack opened #634 "Wrong className for TopAppBarFixedAdjust"
- What RMWC Version are you using [major.minor.patch]:

6.0.14

- Name your build system [Webpack, Rollup...]:

Webpack (Next.js)

- Describe the bug with as much detail as possible:

When I try to use `TopAppBarFixedAdjust` with `dense` prop. RMWC adds both `mdc-top-app-bar--fixed-adjust` and `mdc-top-app-bar--dense-fixed-adjust` to className.

[code]

[code]

But, `mdc-top-app-bar--dense-fixed-a

[2020-05-19 21:36] jjimenezlopez commented on #628
Hi again, any update on this? I've been taking a look to the code and I think there might be an issue in the `Select` component, specifically here, with the `disabled` property:

[code]

Am I correct? I could work on a PR to fix this, but I would like to be sure there is no other way to make a `Select` component clearable and I'm missing it.

Thanks!

[2020-05-19 23:20] jamesmfriedman commented on #628
I don’t believe it is currently supported but you can use an empty placeholder property.

[2020-05-20 02:52] nicholaschiang opened #636 "Prefilled text fields aren't working well"
`6.1.0`

Default setup that Next.js uses (pretty sure it's `webpack`).

Your fix to #601 was awesome, but it doesn't look like it's working properly:

![floating-label-err](https://user-images.githubusercontent.com/20798889/82394827-e1f69d00-99fe-11ea-8f4f-72d50808f835.gif)

And I'm not referring to the label not floating after the text field is filled. I'm referring to the notch not closing up ag

[2020-05-20 04:06] nicholaschiang commented on #636
FYI @jamesmfriedman [this is the project](https://tutorbook.org) that your component library has been put so hard to work on (if you're curious)! Feel free to send me any feedback on it.

[2020-05-20 05:11] francos opened #637 "How to disable autofocus for Menu"
### What RMWC Version are you using [major.minor.patch]:

5.7.2

### Name your build system [Webpack, Rollup...]:

Webpack

### Question

I'm not sure how to disable auto-focus for a `Menu`. What I'm trying to do is create a search `TextField` that shows a `Menu` under it when a user types something (the results of the menu are a search that is performed with the text entered by the user).

The pr

[2020-05-20 05:17] francos commented on #637
Just a few minutes after posting I saw the `focusOnOpen` property on the `Menu` which does exactly this, sorry for the premature post 😝

[2020-05-20 05:17] #637 closed

[2020-05-20 07:54] francos opened #638 "Can't set value from Menu selection in TextField"
### What RMWC Version are you using [major.minor.patch]:

5.7.2

### Name your build system [Webpack, Rollup...]:

Webpack

### Describe the bug with as much detail as possible:

I'm building a component that has a `TextField` and a `Menu` that behaves like this:

1. When the user starts typing on the `TextField`, I perform an async search with the text entered.

2. The result of the search is a l

[2020-05-20 11:57] jamesmfriedman commented on #636
Looks great! Hopefully the good has outweighed the issues you’ve hit.

[2020-05-20 13:20] jamesmfriedman commented on #638
Not sure about your specific issue, but this just sounds like a standard react thing and maybe a gap in knowledge.

Here is a super basic example of using a controlled textfield and setting the value. This isn't RMWC specific, the same would work with a standard input.

https://codesandbox.io/s/rmwc-typescript-sandbox-37131?file=/src/index.tsx

[2020-05-20 18:23] nicholaschiang commented on #636
Any fix on this yet @jamesmfriedman? I'm waiting on it to push to production.

[2020-05-20 18:34] nicholaschiang opened #639 "Control whether to use native validation or not"
`^6.1.0`

Default used by [Next.js](https://github.com/zeit/next.js) (probably `webpack`).

**The `invalid` property (on a `TextField`) should not be overridden by the `required` default behavior** (that way we can define our own validation methods). Or, just add a `useNativeValidation` prop (like MDC... see below).

For example, I'm clearing the text field input whenever a subject is selected, bu

[2020-05-20 21:01] francos commented on #638
Thanks for the answer @jamesmfriedman, it was indeed a gap in knowledge. What was happening was that I was setting an empty `String` to the `value` when it was created the first time and that prevented me from typing on it for some reason. Once I stopped setting that value at the beginning it all started working as expected.

Thanks for the help :)

[2020-05-20 21:01] #638 closed

[2020-05-24 10:38] TrySpace opened #641 "Building for production RMWC styles not working"
RMWC Version: 5.7.1
Build system: Webpack

It works for development, but not for production.

I'm _not using modules_, but I've tried every combination described here: https://rmwc.io/installation
But it's not including or building any rmwc css at all, it is including all my own `scss` classes.

My webpack.common file:

[code]

It is a chrome extension, but when running from webpack in development

[2020-05-24 14:07] jamesmfriedman commented on #641
Whatever your build system is, it’s dropping side effects. You need to whitelist css files as non tree shakeable. Look into webpack tree shaking, this isn’t an RMWC thing.

[2020-05-27 02:33] jahirfiquitiva opened #642 "How to change snackbar action color using ThemeProvider?"
- What RMWC Version are you using [major.minor.patch]: 6.0.14

- Name your build system [Webpack, Rollup...]: Webpack? An app created with cra 😅

- Describe the bug with as much detail as possible:
So, I was checking the ThemeProvider documentation and I couldn't find anything on how to customize the snackbars action button text color, or any of the snackbar colors (background, text, etc.)

- What

[2020-05-27 02:56] jahirfiquitiva opened #643 "Support overriding material-icons with @mdi/font"
- What RMWC Version are you using [major.minor.patch]: 6.1.0

- Name your build system [Webpack, Rollup...]: webpack

- Describe the bug with as much detail as possible:
I am trying to use custom icons from [`@mdi/font`](https://www.npmjs.com/package/@mdi/font), but the icons are not shown.

This is my provider:
[code]

[2020-05-27 03:03] jahirfiquitiva commented on #643
Temporarily fixed like this but 😕
[code]

[2020-05-27 07:19] nikhilbatta commented on #453
Still getting this error with 5.7.2 @rmwc/menu

[2020-05-27 17:47] jahirfiquitiva opened #644 "How to set selected drawer item background color to primary?"
All the examples show a light grey background but none show the background using primary color

**Example:**
![Shot 2020-05-27 at 12 45 28](https://user-images.githubusercontent.com/10360816/83054459-0adaeb80-a018-11ea-803c-df5929ae5b12.png)

**Requested example:**
![Shot 2020-05-27 at 12 43 25](https://user-images.githubusercontent.com/10360816/83054524-2645f680-a018-11ea-9554-82016e8f478b.png)

[2020-05-27 17:54] jahirfiquitiva commented on #644
Also would be nice to have examples with icons, [like this](https://material-theme-builder.glitch.me/)

![Shot 2020-05-27 at 12 54 08](https://user-images.githubusercontent.com/10360816/83055243-35797400-a019-11ea-86d8-96c3bba8b009.png)

[2020-05-27 21:16] jahirfiquitiva opened #645 "Clicking fab makes site reload"
- What RMWC Version are you using [major.minor.patch]: 6.1.0

Watch the gif and see how `?` is added to the url, the favicon becomes a spinner and the site reloads

![Grabación de pantalla 2020-05-27 a la(s) 16 09 47](https://user-images.githubusercontent.com/10360816/83073011-5354d200-a035-11ea-8f41-0897efe745cb.gif)

[2020-05-27 21:17] jamesmfriedman commented on #645
I don't know what your code looks like, but I'm reasonably certain that fab doesn't have anything to do with it

[2020-05-27 21:22] jahirfiquitiva commented on #645
Woops, sorry... I forgot I put the fields inside a form, because they didn't stack vertically but horizontally...

Is there some way to make them stack vertically without adding `<br/>`s ?

**Default**
![Shot 2020-05-27 at 16 22 15](https://user-images.githubusercontent.com/10360816/83073555-3ff63680-a036-11ea-9e93-e54add563d43.png)

**Expected**
![Shot 2020-05-27 at 16 21 37](https://user-images.

[2020-05-27 21:23] jamesmfriedman commented on #645
Just wrapping them in divs or a BR. They're inline-block by default.

[2020-05-27 21:27] jahirfiquitiva commented on #645
Thanks, wrapping in `div`s worked

[2020-05-27 21:27] #645 closed

[2020-05-28 00:32] aktary opened #646 "Export DialogQueueSpec"
- What RMWC Version are you using [major.minor.patch]: 6.0.14

- Name your build system [Webpack, Rollup...]: Parcel

- Describe the bug with as much detail as possible: Simple TypeScript issue.  Need to add the `export` keyword to DialogQueueSpec in `dialog-queue.d.ts`

- What happened, and what was supposed to happen:  Without the `export`, TS complains:

Adding the `export` keyword will fix it.

[2020-05-28 01:28] jamesmfriedman commented on #646
Never had this issue. Is it possible that this is a tsconfig setting?

[2020-05-28 10:06] Bloemendaal opened #647 "Controlled radio button list listens to select even on listitem"
- What RMWC Version are you using [major.minor.patch]:
6.1.0
- Name your build system [Webpack, Rollup...]:
Webpack
- Describe the bug with as much detail as possible:
Go to https://rmwc.io/lists-variants and scroll to the radio button variant. When selecting one, you can move the selected listitem with the arrowkeys up and down. If you select a listitem from which the radio button is not selected

[2020-05-28 15:36] aktary commented on #646
Maybe.  [This](https://github.com/microsoft/TypeScript/issues/5711) issue suggests that the `--declaration` flag may be causing TS to try to generate declaration files, but since DialogQueueSpec isn't exported, it can't do it's job.  I've tried disabling that in `tsconfig.json`, but TS is still complaining, so 🤷‍♂️.  That interface is the only one in the file that isn't exported... is exporting it

[2020-05-29 19:58] mike391 opened #648 "Dialog Focus a different element on open?"
Currently dialogs focus the first element on open. Is there a way to focus the second element instead for example?

[2020-05-31 19:41] aktary commented on #259
It is [in the docs](https://rmwc.io/select-menus) and as far as I can tell, doesn't work.  Since `enhanced` doesn't allow for use of `inputRef`, I can't rely on the React-Hook-Form library to manage this for me, so am having to do so manually. Having a working `defaultValue` would be a convenient way, but I can make it work by hand.

[2020-06-02 15:25] kamarajuPrathi opened #650 "AutoComplete/typeahead"
Is there a autocomplete component available ?

[2020-06-03 02:07] aktary opened #651 "Clicking Tab submits form"
https://codesandbox.io/s/rmwc-typescript-sandbox-hxc2b?fontsize=14&hidenavigation=1&theme=dark

- What RMWC Version are you using [major.minor.patch]: 6.0.14

- Name your build system [Webpack, Rollup...]: Parcel

- Describe the bug with as much detail as possible: Clicking a tab submits the form.

- What happened, and what was supposed to happen: It should just change tabs, not submit the form.

[2020-06-03 02:50] aktary commented on #651
I just figured out the issue.  HTML buttons are `type=submit` buttons by default.  Tabs get rendered as `<button>` elements, but no `type` is set. Simply setting `type=button` on the `<Tab>` makes it work as expected.  I strongly suggest either building this in to `Tab`, or putting it in the docs.

[2020-06-04 15:12] fdc-viktor-luft opened #652 "Forms do not work in Dialogs"
### Sandbox
https://codesandbox.io/s/rmwc-typescript-sandbox-g63tq

### Version of @rmwc/dialog
6.1.0

### build system
Webpack (Create React App)

### Description
When opening a `Dialog` and setting `preventOutsideDismiss` to `true` the dialog closes as soon as you hit ENTER on your keyboard when the focus is within a text field.

### What happened, and what was supposed to happen
The dialog clos

[2020-06-05 11:08] rikvdk commented on #652
Removing the `isDefaultAction` from the second DialogButton seems to fix your problem:
[code]
Hope this helps.

[2020-06-05 11:24] fdc-viktor-luft commented on #652
It does 🤯 How could I not see this one. Thanks for your help 👍

[2020-06-05 11:24] #652 closed

[2020-06-09 14:43] jahirfiquitiva opened #654 "Responsive example"
Hello

I just wanted to ask for a responsive example. I think the framework isn't mobile-first, so it's been hard for me to achieve a responsive result.

Would be great to have better support for that.

Thanks

[2020-06-09 14:46] jamesmfriedman commented on #654
@jahirfiquitiva the docs themselves are responsive. Material design itself is modeled to be mobile first and mobile friendly. Have you checked the material.io for design guidance?

[2020-06-09 14:51] jahirfiquitiva commented on #654
are the docs open source too? mind linking me to their source?

and btw, I wasn't looking for design guidance, but rather implementation guidance.

Like a section where you explain how to "transform" toolbar items into a drawer when in mobile devices, or something like that?

Maybe even components that do that... transform their contents/look based on breakpoints

[2020-06-09 14:54] jamesmfriedman commented on #654
They're hacked together, but you can find some examples of mobile implementation on there. Honestly I think the only difference is the main navigation.

https://github.com/jamesmfriedman/rmwc/tree/master/src/rmwc/docs

[2020-06-09 15:11] jahirfiquitiva commented on #654
thanks for sharing

[2020-06-09 15:58] jamesmfriedman commented on #654
No problem

[2020-06-09 15:58] #654 closed

[2020-06-11 04:12] nicholaschiang commented on #613
Hey @jamesmfriedman it doesn't look like you're spreading the `enhanced` prop at all:
[code]
I just opened [this PR](https://github.com/jamesmfriedman/rmwc/pull/655) to do just that (spread the `enhanced` prop instead of `rest` to the `EnhancedMenu`).

So @MiK546 that's why adding the `renderToPortal` prop on the `Select` itself worked (because right now, @jamesmfriedman is spreading `rest` (the r

[2020-06-11 12:17] #634 closed

[2020-06-11 12:18] #624 closed

[2020-06-11 12:55] liamcmitchell-sc commented on #507
@jamesmfriedman we (my employer Sharecare) need to support IE11 until at least the end of 2021 (😭 ). I'm happy to look into any IE11 issues if you want to tag me. I contributed a [little](https://github.com/material-components/material-components-web-react/pulls?q=is%3Apr+author%3Aliamcmitchell-sc) to the google wrapper before it was abandoned.

I'll try to get a PR for this in the next few hours.

[2020-06-11 12:59] jamesmfriedman commented on #507
@liamcmitchell-sc I understand and want to be supportive of that initiative. I think the largest hurdle you'll run into will be material-components-web. I don't know about their support coverage, but I seem to recall them ditching IE11 a while ago.

If there are issues that are fixable in here and it's sensible I'm absolutely fine including it. Anything that can be polyfilled though should be done

[2020-06-11 13:05] liamcmitchell-sc commented on #507
@jamesmfriedman thanks, they officially support IE11: https://github.com/material-components/material-components-web/blob/master/docs/supported-browsers.md

[2020-06-11 13:07] jamesmfriedman commented on #507
Great. Let me know what you find and I'll be proactive about getting the PRs in.

[2020-06-11 14:52] liamcmitchell-sc commented on #507
Fixed by polyfilling CustomEvent: https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent#Polyfill

[2020-06-11 20:39] jamesmfriedman commented on #651
That is very interesting and something we should likely report upstream as well. I'll take a look

[2020-06-11 20:42] jamesmfriedman commented on #648
Not out of the box, it just looks for the first focusable element. As a workaround I'm sure you can re-arrange the DOM, or or focus the element you want in the onOpen callback.

[2020-06-11 20:43] jamesmfriedman commented on #644
I believe you are just looking for the `activated` prop

[2020-06-11 20:45] jamesmfriedman commented on #643
that does appear to be setup properly, but I'd need to see a repro in order to better assist. At any rate, it is indeed supported. Stackoverflow is a better place for questions since I don't believe there is a bug present here.

Is it possible that you forgot to include your icon font?

[2020-06-11 20:46] jamesmfriedman commented on #644
Please post questions on either stack overflow or on the Discord channel.

[2020-06-11 20:46] #644 closed

[2020-06-11 20:51] jamesmfriedman commented on #641
Closing due to inactivity.

[2020-06-11 20:51] #641 closed

[2020-06-11 20:54] jamesmfriedman commented on #628
Closing due to inactivity. Please direction questions to Discord or Stack Overflow.

[2020-06-11 20:54] #628 closed

[2020-06-11 20:55] jamesmfriedman commented on #627
Confirming this is fixed in 6.1.2. You can try adding it in the docs to see. https://rmwc.io/menus

[2020-06-11 20:55] jamesmfriedman commented on #625
Closing due to inactivity.

[2020-06-11 20:55] #625 closed

[2020-06-11 20:57] jamesmfriedman commented on #617
Fixed

[2020-06-11 20:57] #617 closed

[2020-06-11 20:58] jamesmfriedman commented on #602
Fixed in 6.1.2.

[2020-06-11 20:58] #602 closed

[2020-06-11 21:21] anthonysapien commented on #627
Thanks for looking into it. I'm still seeing the issue on the RMWC site:
https://share.getcloudapp.com/4guj7d8N

The problem is that selecting an item doesn't close the menu.

[2020-06-11 21:23] jamesmfriedman commented on #627
That specific example the open prop is always set to true. Just add `renderToPortal` to any others, it works as expected

[2020-06-11 21:24] jahirfiquitiva commented on #643
no, I didn't forget to include the font... for some reason it works in certain components but not all... will try to make an example later

[2020-06-11 22:02] anthonysapien commented on #627
Apologies if I'm missing something. Here's a sandbox where I still don't see the menu close or the onSelect handler fire when I select an item:
https://codesandbox.io/s/rmwc-sandbox-fskbn

[2020-06-12 12:14] jamesmfriedman commented on #627
@anthonysapien thanks for reporting that. I think it has to do with event bubbling through React portals and the fact that MDC doesn't use react events, but standard DOM ones. I'll have to inspect more.

For now, here is a non-ideal, but working solution. https://codesandbox.io/s/rmwc-sandbox-omw4n

[2020-06-12 16:20] anthonysapien commented on #627
Cool @jamesmfriedman. Thanks for looking into it and for the workaround.

[2020-06-12 19:41] aktary commented on #646
it's really a very small, non-breaking change. I'd greatly appreciate if you'd implement it... or if you'd prefer, I can put in a PR... just seems silly to do that for such a small thing.

[2020-06-15 11:41] astrofrans commented on #596
Perhaps a scope creep on this ticket, but I'm having issues with the onChange for the Select field too, but in MSIE11.

The `target` and `customTarget` props are not copied correctly into the `CustomEvent` in the `emitFactory` ([here](https://github.com/jamesmfriedman/rmwc/blob/4ee07fdccaec6eae22a6adf9c3232d809492bafd/src/base/foundation-component.tsx#L201)) when run in MSIE11.

This is really unf

[2020-06-15 12:42] #646 closed

[2020-06-15 12:43] jamesmfriedman commented on #646
Releasing now, should be live in a few minutes.

[2020-06-15 12:45] jamesmfriedman commented on #596
@astrofrans I'll be upgrading this library to the newest version of material-components-web in the near future. These maintenance upgrades are usually not that bad, except in the last 2 versions they have decided to continuously refactor the select. Not only is this maddening for me, it also causes more issues such as this. I can definitely look into the issue, but not before I have to re-rewrite

[2020-06-18 14:46] liamcmitchell-sc commented on #453
The fix in 5.7.2 isn't reliable. There is a race condition between the foundation code that sets `dimensions_` in an animation callback (https://github.com/material-components/material-components-web/blob/v3.2.0/packages/mdc-menu-surface/foundation.ts#L180) and the RMWC code to reposition after hoisting to body in a timeout callback (https://github.com/jamesmfriedman/rmwc/blob/v5.7.2/src/menu/menu

[2020-06-18 15:16] jamesmfriedman commented on #453
There something preventing you from upgrading to v6 @liamcmitchell-sc ?

[2020-06-22 12:23] thiagozf opened #658 "TextField sets aria-labelledby in the wrong element"
- What RMWC Version are you using [major.minor.patch]:
6.1.3

- Name your build system [Webpack, Rollup...]:
Webpack

- Describe the bug with as much detail as possible:
The `aria-labelledby` attribute should be set in the `input` tag of the `TextField`, instead of its root (the `label` tag).

- What happened, and what was supposed to happen:
After upgrading from version `5.7.2` to `6.1.3`, all my

[2020-06-24 22:49] nicholaschiang opened #659 "Style overrides use CSS variables that might not be set"
- What RMWC Version are you using [major.minor.patch]: 6.0.14

- Name your build system [Webpack, Rollup...]: Default that comes with Next.js (I think it's webpack).

- Describe the bug with as much detail as possible:

The styles included in `@rmwc/data-table/data-table.css` reference the global MDC theme variables that might not be set.

For example, I use Sass to set my theme like so:

[code]

[2020-06-24 22:50] nicholaschiang commented on #659
@jamesmfriedman Just saw that shout-out in your README:

I'll see if I can address this issue in a PR so you don't have to do it yourself.

[2020-06-28 19:31] nickmccurdy opened #660 "Feature: Multiline text fields"
There is a [multiline prop in Material UI](https://material-ui.com/components/text-fields/#multiline) that allows you to render a textarea that starts with one line, and dynamically expands its heights to allow for new lines rather than scrolling. RMWC seems to only allow static height textareas, but I think this would be a convenient additional especially when migrating apps from Material UI.

It

[2020-06-30 21:28] jamesmfriedman commented on #660
I agree, this would be very useful.

I've built a 101 of these in the past, there are some really easy ways to make it happen. I'll look into it.

[2020-07-02 07:55] #606 closed

[2020-07-03 19:43] anthonysapien opened #664 "Bottom Navigation"
Hi, I'm wondering if you're planning to add 'Bottom Navigation' support:
https://material.io/components/bottom-navigation

Should I just use Tabs in the meantime? If so, I'd need to fix them to the bottom.

Thanks!

[2020-07-07 17:26] jahirfiquitiva opened #665 "View password button does not always appear"
- What RMWC Version are you using [major.minor.patch]: 6.1.3

- Name your build system [Webpack, Rollup...]: webpack

- Describe the bug with as much detail as possible:

The view password button does not always appear. I even thought the field didn't have such functionality and added one myself, but now I don't know how to remove the default one.

Also, there are no examples of this kind of field

[2020-07-07 19:58] kamarajuPrathi opened #666 "Icon not showing in textfield"
<img width="216" alt="Screenshot 2020-07-07 at 3 41 52 PM" src="https://user-images.githubusercontent.com/25597219/86840525-6dd48f00-c068-11ea-8120-f74312e76353.png">
Latest version of @rmwc/textfield , unable  to show the icons even i import the styles as mentioned in the documentation

https://codesandbox.io/s/flexible-rmwc-textfield-size-cbihe?file=/src/App.js

[2020-07-09 17:31] jamesmfriedman commented on #666
Updated the sandbox, you forget to include the icon font. Look at the change in public/index.html

[2020-07-09 17:31] #666 closed

[2020-07-09 17:32] jamesmfriedman commented on #664
They haven't implemented it upstream yet. But yes, I think it would be very useful. Personally I have just used tabs myself.

[2020-07-10 17:01] jahirfiquitiva commented on #665
Nevermind, seems this is something from the browser and not rmwc

[2020-07-10 17:01] #665 closed

[2020-07-15 02:30] rayjd commented on #627
This also affects the select menu if the enhanced prop is used. And unfortunately the workaround does not work because there aren't props to control the open state of the select menu.

To reproduce I just added the renderToPortal prop to the enhanced example: https://rmwc.io/select-menus

Hopefully the fix works for select menu too :)

[2020-07-15 04:01] kamarajuPrathi opened #668 "@rmwc textfield customization"
I am trying to use @rmwc/textfield as the control component for react-select (https://react-select.com/home)

the input box should behave as a select with menu options and chips as part of it .. i have inherit the children props from react select to @rmwc/textfield , will that work ?

[2020-07-15 04:47] kamarajuPrathi commented on #668
What does rootprops take in @rmwc/textfield ?

[2020-07-15 15:18] gugu commented on #277
https://app.short.io

[2020-07-15 18:18] anthonysapien commented on #664
Cool, thanks for responding. I'll go with tabs for now.

[2020-07-16 04:29] kamarajuPrathi commented on #668
for @material-ui Text Field I can provide the below inputs in this format

 `<TextField
      InputProps={{
        inputComponent,
        inputProps: {
          className: props.selectProps.classes.input,
          inputRef: props.innerRef,
          children: props.children,
          ...props.innerProps
        }
      }}
      fullWidth={true}
      {...props.selectProps.textFieldProps}

[2020-07-16 07:23] kamarajuPrathi commented on #668
@jamesmfriedman can you please respond

[2020-07-17 00:39] nicholaschiang commented on #668
@kamarajuPrathi I've actually implemented something similar to what you're describing (i.e. the [`react-select` multi component](https://react-select.com/home)) for the [Tutorbook website](https://tutorbook.org):

![demo-of-select](https://user-images.githubusercontent.com/20798889/87735245-d4089280-c789-11ea-9742-2d05706225ae.gif)

I'm using a combination RMWC components:
- `ChipSet`, `Chip` for

[2020-07-17 15:41] nicholaschiang opened #671 "Text field character count just doesn't work"
- What RMWC Version are you using [major.minor.patch]:

6.1.3

- Name your build system [Webpack, Rollup...]:

Default that comes with [Next.js](https://nextjs.org) (which is `webpack`).

- Describe the bug with as much detail as possible:

The `characterCount` prop on the `TextField` component just doesn't do anything. The `TextFieldCharacterCount` component renders fine, but it's content never c

[2020-07-17 16:38] kamarajuPrathi commented on #668
@nicholaschiang thank you for the detailed information , i dont see you using react-select

[2020-07-17 19:47] kamarajuPrathi opened #672 "Can we have a size property for chip for different size variations"
Can we have chip with multiple sizes

[2020-07-18 21:32] nicholaschiang commented on #672
@kamarajuPrathi You're referring to the height (i.e. density) of the chip, right?

You could just use the MDC Sass mixins (if you're compiling using Sass) like so:
[code]

And then just make sure to add that class name to your component. Using `css-modules`, that will look like:
[code]

[2020-07-19 02:13] PeterNjeim opened #673 "Textarea input text gets overlapped by icon"
- I didn't comment the code because everything is explained in the render and also the only difference between them is whether they are textareas or not and whether they have icons or not:
https://codesandbox.io/s/rmwc-sandbox-mkgnf?file=/index.js

- What RMWC Version are you using [major.minor.patch]:
6.1.3

- Name your build system [Webpack, Rollup...]:
webpack

- Describe the bug with as much d

[2020-07-20 23:32] remy90 opened #674 "Global CSS cannot be imported from within node_modules."
[Question]
- RMWC or MDC?
MDC, but bare with me

- What RMWC Version are you using:
rmwc@6.1.3
- Name your build system:
webpack@4.43.0

typescript@3.9.7
next@9.4.4

- What happened, and what was supposed to happen:

This probably isn't a bug but simply my implementation
[code]
Button is referenced in another tsx file as:
```<MyButton label="ahoy" />```
error message:

The link above states: Reach

[2020-07-21 12:04] pahan35 commented on #658
I also noticed that there is a kind of broken id in the input element itself and label.

As I see in specs https://www.w3.org/TR/wai-aria-practices-1.1/#naming_with_aria-labelledby `aria-labelledby` may reference several elements by ids split by space.

However, in `@rmwc/textfield` next code will generate kind of broken reference because ids used in `aria-labelledby` can't contain spaces to suppo

[2020-07-21 15:01] jamesmfriedman commented on #674
I'm not sure what  `@use` is although I believe it is an scss directive.

@rmwc/buttons/styles is a javascript file that imports other css files. If you need to do @use you'll have to import the styles individually.

Screenshot from the docs. @use doesn't use the css-loader, it uses sass. So you'll have to go with the second option "or include stylesheets"

![image](https://user-images.githubuserc

[2020-07-21 15:01] #674 closed

[2020-07-21 15:05] remy90 commented on #674
As you can see from the snippet provided, i've also tried importing. It's not a requirement of mine to use scss, I just can't follow the getting started example provided due to the error stated

[2020-07-21 17:11] remy90 commented on #674
@jamesmfriedman is it possible this is an issue with next.js?

[2020-07-21 17:55] remy90 opened #675 "Incompatible with next.js?"
- Javascript Sandbox https://codesandbox.io/s/rmwc-sandbox-o0s0d
Repro: https://codesandbox.io/s/clever-river-u40p1

- What RMWC Version are you using [major.minor.patch]:
└─── rmwc@6.1.3
- Name your build system [Webpack, Rollup...]:
└─ next@9.4.4
  └──webpack@4.43.0

- Describe the bug with as much detail as possible:
Fails to compile. See linked repro above.

- What happened, and what was suppo

[2020-07-22 04:26] 4cm4k1 commented on #675
Hey @remy90,

I was browsing issues in this repo and saw this one. I use Next.js and RMWC like so here: https://github.com/4cm4k1/personal-website/blob/master/src/pages/_app.tsx#L9-L16

So, you'll need to update `import "@rmwc/button/styles";` in `pages/rmwc.js` to:
[code]

**_OR_**

You can do those imports in a [custom `pages/_app.js`](https://nextjs.org/docs/advanced-features/custom-app) file i

[2020-07-22 05:49] pahan35 commented on #658
There are changes after which getByLabelText stopped working https://github.com/testing-library/dom-testing-library/pull/681

[2020-07-22 19:49] bruqui commented on #674
@jamesmfriedman I've actually answered these questions with @remy90 in Discord, but thought I'd go ahead and put an answer here for you although this isn't related to your library. The @use is part of SASS and node-sass doesn't seem to like it. The way around that is to use the [npm sass library](https://www.npmjs.com/package/sass) instead by adding `implementation: sass` to the options and more t

[2020-07-22 20:23] jamesmfriedman commented on #674
Thanks for posting the answer @bruqui

[2020-07-22 20:25] jamesmfriedman commented on #675
@4cm4k1 can you elaborate? I use CSS modules exclusively in projects with RMWC.

[2020-07-22 21:11] 4cm4k1 commented on #675
@jamesmfriedman As I have looked around more, I noticed CSS and Sass modules in use with RMWC. So I think what I'm trying to say is Next.js currently doesn't play nice with importing third-party styles (even if they're properly scoped to components), but it appears to be on the radar for the maintainers: https://github.com/vercel/next.js/issues/12079

Ever since I first implemented MWC-React and t

[2020-07-24 13:25] aershov24 opened #676 "MultiSelect? Is there any way to achieve the multiselect functionality using <Select>?"
Love the lib! I see that MultiSelect was removed from the library. Is there any way to achieve the same multiselect functionality using <Select> and additional options?

[2020-07-26 07:20] jimmynames commented on #675
just hit this same issue
- using correct imports at `_app.js` breaks my app with the error:

`next-dev.js?53bc:48 Error was not caught TypeError: Cannot read property 'parentNode' of null`

[2020-07-27 14:41] #557 closed

[2020-07-27 14:44] jamesmfriedman commented on #676
These types of questions are better left to the Discord Channel.

Multiselects were removed pretty early on from the Google team. I think checkbox lists are a valid replacement (look under lists) but you can also just use the browsers standard multi-select.

[2020-07-30 21:53] nicholaschiang commented on #675
I'm currently doing the same thing as @4cm4k1 and am just importing all of those styles into one `global.scss` file which is then imported by `_app.tsx`.

It'd definitely be nice to be able to use SCSS modules to scope those styles to each RMWC component in the future. And @4cm4k1 I think the MWC version that @jamesmfriedman is using right now doesn't actually have the `core-styles` mixins.

[2020-08-03 14:21] puru0019 opened #679 "Tooltip is not displayed when Typography is passed as children to rc-tooltip or rmwc tooltip"
Tooltip is displaying when I directly use Typography from @rmwc/typography.
Tooltiip is not displaying when I re-export from local folder.

Using rc-tooltip npm package. Even rmwc tooltip is also not working

Refer to line 7 and 10 in `index.js` file

https://codesandbox.io/s/rmwc-example-hkc71?file=/src/index.js

@jamesmfriedman

[2020-08-05 11:23] fdc-viktor-luft opened #680 "Label of text area is displayed incorrectly in dialogs"
The problem occurs only if the text area contains a value AND is outlined AND inside of a dialog.
If you focus the text area once the problem vanishes.

You can find in the created sandbox a dialog button, which you need to push and inside the opened dialog, you should directly the mentioned problem.

Sandbox: https://codesandbox.io/s/rmwc-typescript-sandbox-sflq6?file=/src/index.tsx

[2020-08-05 18:56] nicholaschiang opened #681 "Typescript prop types aren't complete"
- What RMWC Version are you using [major.minor.patch]: 6.1.3

- Name your build system [Webpack, Rollup...]: Default that comes with Next.js (webpack 4 right now).

- Describe the bug with as much detail as possible:

The Typescript prop types (i.e. `ChipSetProps` or `TextFieldProps`) aren't complete. The exported name `ChipSetProps` should include **all** of the legal properties that can be passe

[2020-08-05 18:57] nicholaschiang commented on #681
Current super messy workaround:
[code]

[2020-08-05 19:27] developit opened #682 "Invalid direct import of @material/dom/dist/mdc.dom.js breaks or duplicates module"
- What RMWC Version are you using [major.minor.patch]: 6.0.14

- Name your build system [Webpack, Rollup...]: both Webpack and Rollup - anything that resolves using the `"module"` field in `package.json`.

- Describe the bug with as much detail as possible:

[This import](https://github.com/jamesmfriedman/rmwc/blob/f8c55809579fe9e6272dbdaede184d9f9d86ada5/src/base/utils/focus-trap.tsx#L2) manually

[2020-08-05 19:58] jahirfiquitiva commented on #643
hey @jamesmfriedman  this was working for buttons but after v 6.1.3 it doesn't work anymore and the icon name is put inside the `i` tag for the icon, even though I have set the `strategy` to `className`

[2020-08-06 17:41] jamesmfriedman commented on #681
Please read https://rmwc.io/type-system which describes how to use the type interfaces.

[2020-08-09 08:14] prateekbh opened #683 "Hello from Preact 👋🏻"
RMWC.

Hi! This message is a friendly 👋🏻 from Preact team.
I am not sure if you are aware but we maintained a similar [wrapper](https://github.com/prateekbh/preact-material-components) over MDC-web for Preact alone.

With the increasing release speed of mdc-web's major version packages and more requirement of focus in some other areas we are looking to deprecate our fork in favor of anything that

[2020-08-11 20:43] jamesmfriedman commented on #683
@prateekbh. Yes yes and yes. Ping me on discord or linkedin and maybe we could do a quick chat.

[2020-08-11 20:47] prateekbh commented on #683
I am dumb and dont know how to discord! 🙈
My code is prateekbh#3043

[2020-08-12 12:34] victorandree commented on #620
I've updated this to reflect that there's been another major release of material-components-web (v7!). Anything we can do to help with the upgrade process?

[2020-08-13 15:04] jamesmfriedman commented on #620
I'll get a branch going that we can all fork and PR to and get this moving.

[2020-08-14 10:10] rahulrsingh09 opened #684 "Circular progress now showing correct graph via passed in props."
The circular progress bar some times doesn't go till 100% and closes off in between even if we pass correct data..also the split of 25% 50%is correct in the graph.

[2020-08-16 23:32] 101arrowz opened #685 "Invalid sourceMappingURL reference in @rmwc/base"
- What RMWC Version are you using [major.minor.patch]:
6.1.3 (`@rmwc/base` and `@rmwc/linear-progress` are at 6.0.14, which seems to be the latest)
- Name your build system [Webpack, Rollup...]:
Parcel (`parcel@2.0.0-nightly.364`)
- Describe the bug with as much detail as possible:
When bundling my app, I get the following error:
[code]
I found that in `node_modules/@rmwc/base/next/utils/apply-pas

[2020-08-17 14:41] grigory-bogush opened #686 "@rmwc select item removal causes a crash if one of them is 'selected'"
## RMWC or MDC?
The bug can be prevented by RMWC, however I am not sure what causes the "change selected item" method of MDC to fire in this case (since it is wholly another input that is acted upon).

My theory is that in the background the items is still deselected internally even though the element has already been removed by react.

Sandbox:
https://codesandbox.io/s/rmwc-dependent-select-bug-t

[2020-08-20 15:15] #685 closed

[2020-08-20 15:16] #686 closed

[2020-08-23 02:17] juliancoleman opened #689 "IconButton forced false state toggleable"
[Typescript Sandbox](https://codesandbox.io/s/rmwc-typescript-sandbox-forked-uhmof?file=/src/index.tsx)

- What RMWC Version are you using [major.minor.patch]: `6.1.3`

- Name your build system [Webpack, Rollup...]: `Webpack`

- Describe the bug with as much detail as possible:

According to [the documentation](https://rmwc.io/icon-buttons), `IconButton`'s `checked` property is explained as `Contr

[2020-08-26 11:58] puru0019 opened #690 "Avatar component not working when using font awesome as base font instead of material icons"
Avatar component not working when using font awesome as base font instead of material icons. Following is the code to reproduce the issue.  This is happening when Avatar component upgraded to 6.1.3

Remove icon prop from RMWCProvider then it is working properly.
https://codesandbox.io/s/react-hooks-usestate-forked-vk49m?file=/src/index.js

[2020-08-28 18:58] jamesmfriedman commented on #690
It's actually a precedence issue. The avatar component is technically just an icon, and setting strategy to classname is breaking it. Thanks for reporting this.

[2020-08-28 20:02] jamesmfriedman commented on #683
@prateekbh just saw this, sent you a friend request on Discord

[2020-09-01 20:40] nicholaschiang opened #691 "Deprecated React APIs being used in Tooltip"
- What RMWC Version are you using [major.minor.patch]:

`6.1.3`

- Name your build system [Webpack, Rollup...]:

Webpack 4 (default with [Next.js](https://nextjs.org)).

- Describe the bug with as much detail as possible:

It looks like you're using deprecated context APIs in the `Tooltip` component. I get the following errors when running React in strict mode:
[code]

[2020-09-06 20:07] 7iomka opened #692 "Prevent scrolling to tabs on page load (also focusOnActivate not exist in Tab!) BUG"
- What RMWC Version are you using [latest]:

- Name your build system [Next.js]:

- Describe the bug with as much detail as possible:
With simple usage of tabs components on page (in my case this is landing page) when page is opened it get scrolled to the section with tabs. Why? It's because focus on first active tab is? I need focus when tab is active (for styling for example..), but I don't want

[2020-09-07 06:53] robinjac commented on #521
Hi, i encountered this issue recently. Has it been resolved? Otherwise I'll gladly look into it.

[2020-09-08 11:23] robinjac opened #693 "Next release"
Hello,

There are some bugs that we currently have that is dependent on the next release. Is there any target date and is there anything we can do to help with the next release?

[2020-09-10 09:53] OHUSAR opened #694 "Dialog with open={true} can become closed."
- What RMWC Version are you using [major.minor.patch]:

**6.1.3**

- Name your build system [Webpack, Rollup...]:

**Create React App**

- Describe the bug with as much detail as possible:

**I want to control the state of the dialog (open / closed) by a prop. When the dialog is closed by scrim click or a escape key, the `open` prop on the dialog stays `true`, but the dialog closes.**

- What happ

[2020-09-10 22:13] 4cm4k1 commented on #674
FYI, [support for importing global CSS was just added on the `canary` release channel in Next.js](https://github.com/vercel/next.js/releases/tag/v9.5.4-canary.10). This may be useful to you. 😄

[2020-09-10 22:14] 4cm4k1 commented on #675
FYI, [support for importing global third-party CSS anywhere was just added on the `canary` release channel in Next.js](https://github.com/vercel/next.js/releases/tag/v9.5.4-canary.10). This may be useful to you. 😄

[2020-09-11 19:15] 7iomka commented on #692
Any news on this?

[2020-09-11 19:53] 7iomka commented on #692
Also I see - package on npm have wrong types!
Tab component not support focusOnActivate prop!
Please fix this!

[2020-09-11 20:21] jamesmfriedman commented on #692
@7iomka happy to accept a PR

[2020-09-12 00:33] 7iomka commented on #692
If there is no quick fix for the bug, then I thought that you can turn off the `focusOnActivate` available from the original plugin.
I see https://github.com/jamesmfriedman/rmwc/blob/ab155a96036541633e07bacbeb416d2ff57f2131/src/tabs/tab.tsx#L42
But what I see on installed latest version from `yarn add @rmwc/tabs`
![image](https://user-images.githubusercontent.com/18473137/92982747-579fe080-f4a8-11

[2020-09-12 03:12] 7iomka commented on #692
As I see, this was added in newest v 6.1.4
Thanks.
But, I think `focusOnActivate` need to be setted to `false` by default.
This is default behavior in original version
Open: https://material.io/components/tabs
How you see - Tab one is NOT focused by default!
At the moment I need to disable this on every Tab inside Tabs - this is bad :(

[2020-09-12 03:39] 7iomka commented on #692
And I don't understand what `focusOnActivate` does except how to remove forced focus on automatic activation of the first type by default? when activating other tabs manually, the tab itself still receives focus (the backlight works)

[2020-09-14 22:09] nicholaschiang opened #695 "Notched outline isn't notched for prefilled text fields"
- What RMWC Version are you using [major.minor.patch]:

6.1.3

- Name your build system [Webpack, Rollup...]:

Webpack 4

- Describe the bug with as much detail as possible:

When using the `TextField` component with prefilled data, the notched outline isn't becoming properly notched:
![image](https://user-images.githubusercontent.com/20798889/93142622-3e12ba80-f69b-11ea-9622-10269e41f0d2.png)
Thi

[2020-09-14 22:10] nicholaschiang commented on #680
I just opened a duplicate (#695). @jamesmfriedman could you take a look at this?

[2020-09-14 22:11] nicholaschiang commented on #695
Duplicate of #680.

[2020-09-14 22:11] #695 closed

[2020-09-15 03:54] danilobjr opened #696 "ListItem's hover/active effects not working"
### First try

I started use this lib in a personal project, but hover/active effect doesn't work for ListItem. I imported styles using **SASS** as mentioned in docs of each component.

### Second try

I was thinking if I was doing something wrong so I started a fresh Next.js app with only a single page. Inside that I put a Button, Drawer with List/ListItems. All of them installed individually. Bu

[2020-09-15 08:59] lspr98 commented on #506
If anyone else is stumbling upon this, I managed to maintain the original TextField behaviour using:

`
.fix-textfield {
    .mdc-notched-outline__notch {
        border-left: none;
        border-right: none;
    }
}
`

And then apply it to the Textfield

`
<TextField className="fix-textfield" outlined ..../>
`

[2020-09-16 09:45] wmadden commented on #633
Looks like this is indeed a bug in MDC: https://github.com/material-components/material-components-web/issues/4709 (which I notice you [already commented on](https://github.com/material-components/material-components-web/pull/3145#issuecomment-463316463) @jamesmfriedman).

If certain components ignore the theme, dynamic theming in RMWC is effectively unusable. For my project I've hacked together a

[2020-09-17 08:18] #693 closed

[2020-09-17 08:25] puru0019 commented on #679
This worked when wrapping span around Typography

[2020-09-17 08:25] #679 closed

[2020-09-18 04:03] jamesmfriedman commented on #693
Meant to comment on this, but did get that pushed out for you!

[2020-09-21 17:59] suhaibmujahid commented on #550
It seems that the range sliders (two thumbs) have been implemented in [material-components-web](https://github.com/material-components/material-components-web).

See this: [Continuous range slider](https://github.com/material-components/material-components-web/tree/master/packages/mdc-slider#continuous-range-slide)

[2020-09-25 18:25] mk2s6 commented on #683
So, What went over the Discord. LoL

[2020-09-25 18:37] prateekbh commented on #683
🙈 I was quite caught up, slowly coming back to my routine and stuff that got dropped

[2020-09-29 16:48] jamesmfriedman commented on #683
@prateekbh I was just thinking about reaching back out to you! Lets connectt.

[2020-09-30 16:12] mk2s6 opened #698 "Initial Loading screen"
Hi James,

Its not a bug issue, but a Feature Request for Initial Loading Screen.

Thanks and regards,
Siva Kusi

[2020-10-01 01:18] jamesmfriedman commented on #698
Can you elaborate on this?

[2020-10-01 03:33] kamarajuPrathi opened #699 "Top Appbar title text color and theme provider"
I am using theme provider and providing options to Top App bar ,OnPrimary doesnt change. the title text color,it works fine in the demo website
 <ThemeProvider`  options={{
      primary: '#f5f5f5',
      onPrimary: '#000000',
    }}>
    <TopAppBar onNav={onArrowBackClick}>
      <TopAppBarRow>
        <TopAppBarSection  className="__master_navbar_left" alignStart>
          <TopAppBarNavigationI

[2020-10-01 07:24] mk2s6 commented on #698
It was that, the Starting Loading screen just like we get in mobile apps until the DOM is rendered and loaded all necessaries.

[2020-10-01 12:57] #699 closed

[2020-10-01 13:34] jamesmfriedman commented on #698
I think thats out of scope for this particular project. This is (mostly) a wrapper for the google provided vanilla JS components. If they were to offer one, I would include it.

[2020-10-03 19:23] mk2s6 commented on #698
Sad, But yeah, I like your work, and if there are more features and additions just like material-ui kit, this would go beyond any other framework, as your Work and Documentation are better than anybody out there. hope you continue to add features outside wrappers as well. Please do consider as a request and also a better upgradation and development opportunity.

[2020-10-04 15:28] anthonysapien opened #700 "Toggle Buttons"
Hi, just wondering if you have plans to implement these:
https://material.io/components/buttons#toggle-button

Thanks!

[2020-10-06 14:01] jamesmfriedman commented on #700
Don't know if they're included in MDC but i'll take a look

[2020-10-08 16:30] kamarajuPrathi opened #701 "ToolTip"
Can i enable the tooltip when there is text overflow is elipses , is there a way to provide such condition ?

[2020-10-11 11:43] EskiMojo14 opened #702 "onClick doesn't work for DataTableHeadCell unless sort is defined."
- What RMWC Version are you using [major.minor.patch]: 6.1.4

- Name your build system [Webpack, Rollup...]: Create React App

- Describe the bug with as much detail as possible:

As stated in the title, the `onClick` prop for `DataTableHeadCell` only functions if `sort` is also defined. This is not ideal for my uses, where the table is not sorted but the header cells are instead clicked to focus

[2020-10-11 11:45] EskiMojo14 commented on #700
I believe this is what the [MDC Segmented Button](https://github.com/material-components/material-components-web/tree/master/packages/mdc-segmented-button) package is aiming to achieve. Not sure which version they were added in.

[2020-10-11 18:56] EskiMojo14 commented on #680
Experiencing the same issue within a dismissible drawer.
![image](https://user-images.githubusercontent.com/18308300/95687469-bc5f6f80-0bfb-11eb-8092-1af457793e4f.png)

[2020-10-19 11:05] OHUSAR commented on #694
Any updates on this please?

[2020-10-20 14:51] puru0019 commented on #701
This could help
https://stackoverflow.com/questions/56588625/react-show-material-ui-tooltip-only-for-text-that-has-ellipsis

[2020-10-20 14:53] #462 closed

[2020-10-24 08:46] mk2s6 commented on #698
have you seen material-ui.com for react? They got many features as is. Just like kind of, not the initial loading screen, but like carousels, and like that.

[2020-11-02 23:05] suhaibmujahid commented on #620
[v8.0.0](https://github.com/material-components/material-components-web/releases/tag/v8.0.0) just got released.

[2020-11-03 22:14] anthonysapien commented on #694
Hi, I'm having a related issue. I'm using a form as the content of my dialog, and I'd like to prevent the dialog from closing if the form fails to submit due to validation or an error. Similar to the OHUSAR's problem, I can't seem to keep the dialog open. It closes even when the 'open' prop is set to true.

[2020-11-04 16:50] jamesmfriedman commented on #694
Yeah, I'm also having the same problem. Under some deadlines right now at work, but if someone wants to fix it I'd happily take a PR.

[2020-11-05 10:59] TobiasMorell opened #703 "Facebook icon is not rendered properly"
- What RMWC Version are you using [major.minor.patch]: 6.1.4

- Name your build system [Webpack, Rollup...]: Webpack

- Describe the bug with as much detail as possible:

The facebook icon is not rendered properly. Rather than rendering as the [actual facebook logo icon](https://material.io/resources/icons/?search=facebook&icon=facebook&style=baseline) it renders as a face and a book:

![image](ht

[2020-11-10 00:44] b-d-m-p commented on #276
@jamesmfriedman Still getting this issue in 6.1.4. Maybe I don't understand the explanation on this page clearly. https://rmwc.io/theme You say to "include both", but I am not sure where or what the theme file is. Can you make it more explicit or give an example?

[2020-11-11 04:28] suhaibmujahid commented on #620
I would be happy to help with this. Also, `react` v17 is out there, it will be great to support it. The good news that `react` v17 is backward compatible.

[2020-11-15 06:11] mk2s6 opened #704 "Next Release? Plans"
Hi Bro, When is your next release? been waiting for it, please add new features aswell, please.

[2020-11-15 08:28] mk2s6 opened #705 "support for react 17.x.x"
RMWC 6.1.4 does not work for new version of react that is 17.x.x, please do add support for it.

[2020-11-17 10:05] sravanApt opened #706 "Not able to stop update value of @rmwc/switch box even change chandler is not there...!"
While using rmwc switch, it's value is updating for first click on it event change handler is not there...!

my case as follows:-

<SwitchBox
                  name="cookies"
                  checked={false}
                  onChange={(event) => {
                    // event.preventDefault();
                    // event.stopImmediatePropagation();
                    console.log(event.target);

[2020-11-19 04:04] sravanApt commented on #706
Using latest rmwc version 6.1.3.
build - webpack 4
I need to stop update switch value until some condition passed. but it is changing before that condition checks...!

[2020-11-27 18:06] thdk commented on #694
I'm not sure if rmwc can fix this as material/dialog already closes the dialog and then calls the ´notifyClosing´and ´notifyClosed´ foundation methods after which we all call setOpen(false) but the ui will have changed already before the state is updated. So calling setOpen(false) here is only done to 'match' the state value with the actual UI.

I can be wrong of course.

[2020-12-01 09:35] bjarkehs commented on #599
@jamesmfriedman I seem to still get this for @rmwc/toggleable

Are you able to have a look?

[2020-12-05 08:48] p-98 opened #708 "Portal doesn't support SSR"
- What RMWC Version are you using:
6.1.4

- Name your build system [Webpack, Rollup...]:
next.js, but should occur whenever SSR is used

- Describe the bug with as much detail as possible:
RMWC Portal throws an error on compilation when serverside rendering is used:
`ReferenceError: document is not defined`

This is due to the ref in the Portal component being initialized with `document.createElem

[2020-12-05 14:05] weiserhase commented on #708
I think you used too much Typenscript i gues

[2020-12-07 10:56] rbare1 opened #709 "TextField focused styles not working when focus is set programmatically"
- What RMWC Version are you using [major.minor.patch]:
6.1.4

- Name your build system [Webpack, Rollup...]:
Both webpack and rollup

- Describe the bug with as much detail as possible:
When setting the input focus programmatically using the inputRef, the label doesn't move to the top of the TextField like it does when focus is set by clicking on the TextField.

- What happened, and what was suppo

[2020-12-07 13:31] SvenAlHamad commented on #705
Interested in the same thing. Are there any plans on adding support for React v17?

[2020-12-07 13:32] Pavel910 commented on #705
Ran into this today. RMWC is referencing `this._reactInternalFiber.key` and `this._reactInternalFiber` is `undefined` in React 17. This is happening in RMWC `v5.*` as well with React 17.

[2020-12-07 20:15] suhaibmujahid commented on #705
It will be great if the support of React 17 comes with updating to `material-components-web` v8 (#620).

[2020-12-09 06:47] conanak99 opened #710 "[Bug] Failure to test RMWC TabBar using React Testing Library - onActivate not called when click on tab"
- **What RMWC Version are you using**: 5.7.1
- **Name your build system**: Jest and React Testing Library
- **Describe the bug with as much detail as possible**: Using React Testing Library, I'm trying to simulate clicking on a tab. However, `onActivate` function is not called.
- **What happened, and what was supposed to happen**: `onActivate` callback is not called when clicking on a tab using `f

[2020-12-09 10:04] thdk commented on #710
Can you try using _user-event_? https://github.com/testing-library/user-event

[2020-12-09 10:16] thdk commented on #709
I think setting prop _autoFocus_ should work for you. See this sandbox:

https://codesandbox.io/s/rmwc-typescript-sandbox-forked-n0l7t
[code]

[2020-12-09 14:59] conanak99 commented on #710
Thank for your suggestion, I tried using `user-event`, `onActivate` is still not called :(

[code]

[2020-12-15 00:52] b-d-m-p opened #712 "How to disable `mdc-dialog--stacked` in RMWC"
When calling a dialog from inside another dialog, this `mdc-dialog--stacked` class is added and dialog buttons are stacked instead of being displayed in a row like they normally are. I would like to disable this.

According to MDC, in the "Action button arrangement" section...

https://material.io/develop/web/components/dialogs

How can I accomplish this in RMWC?

[2020-12-15 22:45] AntonioRdzNav commented on #691
Has there been any update to this issue? I just encountered the same warning using the `Tooltip` component.

[2020-12-16 01:06] 101arrowz commented on #465
This is a regression as of v6.0.0... @jamesmfriedman could you re-apply the patch? Thanks for supporting the library for so many years, by the way; it's been my go-to for many months now.

[2020-12-16 08:54] bjarkehs commented on #710
I experience the same issue in 6.14. My workaround is to put the callback on `<Tab onInteraction={callback}>Tab 1</Tab>`

[2020-12-16 09:42] conanak99 commented on #710
Yeah I can also use `onClick` on everytab `Tab` component itself. I feel like it's not the ideal solution :(

[2020-12-16 09:46] bjarkehs commented on #710
`onInteraction` is better since it supports both click and keyboard events.

[2020-12-17 01:12] b-d-m-p opened #713 "Tooltip `activateOn="click"` timeout"
I would like to have the tooltip timeout after a click. Looking for advice on how to do this.

[code]

I know `leaveDelay={1000}` exists, but it doesn't work with the click.

https://rmwc.io/tooltips

[2020-12-17 07:02] 101arrowz opened #714 "RMWCProvider icon strategy breaks Avatar"
- What RMWC Version are you using [major.minor.patch]:
6.1.4
- Name your build system [Webpack, Rollup...]:
Parcel 2 (latest master)
- Describe the bug with as much detail as possible:
Using a custom icon strategy from an `RMWCProvider` causes `Avatar` to break.
See: https://codesandbox.io/s/rmwc-typescript-sandbox-forked-9c0s3
- What happened, and what was supposed to happen:
Setting the icon str

[2020-12-17 21:41] 101arrowz opened #715 "Drawer onClose triggered twice"
- What RMWC Version are you using [major.minor.patch]:
6.1.4
- Name your build system [Webpack, Rollup...]:
Parcel 2
- Describe the bug with as much detail as possible:
Modal drawers' onClose function is called two times when the modal is closed once. This can be proven by simple logging or by [editing the code of the Modal](https://rmwc.io/drawers) in the docs page to `setOpen(!open)` instead of

[2020-12-19 15:47] joe-oli opened #716 "{Question] TabBar not resizing by default - do I need to write my own media queries or start overriding classes?"
I am implementing an MD Bottom Navigation https://material.io/components/bottom-navigation

The closest component in RMWC that I can use is Tabs https://rmwc.io/tabs

By default, the Tab buttons look too big on a mobile device, and one has to scroll horizontally even for just three buttons.
Should the TabBar,Tab items resize or shrink automatically to fit without scrolling ?

I was hoping not to h

[2020-12-19 18:36] mk2s6 opened #717 "Hope you find some love that you needed from this Issue."
Hi James,

I have been using RMWC of yours and loved every bit of it, it's Simplicity is what makes it so lovely and passionate on work. I don't know much about developing a package or a library, but as you I am a Dev who works hard to find love with what we do. So would love to Learn and be of support to you.

Hope you find this message and feel great that, people are looking at you for more as y

[2020-12-22 13:54] TobiasMorell commented on #703
Turns out I was using an outdated URL to import the icons stylesheet. Updating to the newest `https://fonts.googleapis.com/icon?family=Material+Icons` stylesheet fixed the issue.

[2020-12-22 13:54] #703 closed

[2020-12-23 16:33] jamesmfriedman commented on #717
Thanks Siva, I did need this. I haven't had much time lately to dedicate to doing a major update, but I want to find some additional maintainers to lighten the load. Chat me up on discord if you'd like to join in the fun.

[2020-12-23 17:55] mk2s6 commented on #717
Hi James would love to join the revolution ❤️ alongside with you, couldn't find your discord on any of the websites, so here's my discord I'd MK2S#8702

[2020-12-28 09:24] rbare1 commented on #717
@mk2s6 You can find the discord link here: https://rmwc.io/resources

[2020-12-28 23:04] YagoLopez commented on #675
Sorry if the question is too simple but, could you show an example in practice. I am using the import into _app.js approach right now but would like to use RMWC in a better way. Thanks

[2021-01-07 19:43] jfily commented on #712
+1

The option ```dialog.autoStackButtons = false;``` is available in MDC but I don't know how to pass it.

[2021-01-18 02:11] b-d-m-p opened #718 "select is not properly clickable in safari because height is incorrect"
6.1.4

In Safari, selects do not expand on click because the height is of `.rmwc-select__native-control`, which is set to 100%, does not take the height of the select itself, 56px.

I added `min-height: 56px` to `.rmwc-select__native-control` to fix it. I don't know if that is the best way to do it, but it seems to work.

[2021-01-18 13:19] kale1d0code commented on #276
I can confirm this is still broken in 6.1.4
applying the aforementioned style fix also brakes error colour (is primary colour instead of red)

[2021-01-20 17:04] ryanolsonx commented on #706
I'm having the same issue too. It's almost like it doesn't really become controlled.

[2021-01-25 07:00] b-d-m-p opened #719 "Text fields: autocomplete=”off”"
How is `autocomplete=”off”` added to text fields to prevent passwords from being saved by the browser?

I can't seem to find any thing for RMWC or MDC.

(For reference, Material UI has this https://material-ui.com/api/autocomplete/)

Cheers

[2021-01-29 14:50] gugu commented on #599
@emotion/core was removed recently, I think we can remove this line

[2021-02-06 16:33] gugu opened #722 "Maintenance request"
Hi!

I'm interested in spending time on the maintenance and development of the module because we (short.io) use it. I plan to fix current issues with development and try to update it to the latest mdc version. You can find my commits in material-components-web-react repo (before that module died)

[2021-02-19 10:45] bjarkehs commented on #719
`TextField` forwards most props to the input. So simply using: `autoComplete="off"` should turn off autocomplete.

I'm not sure how the Autocomplete from Material UI helps you achieve that.

[2021-02-28 15:56] pynixwang opened #724 "update MWC version"
some feature is missing in current version.

such as "shape", to make a button round.

[2021-02-28 16:02] pynixwang commented on #724
add new MWC version to project works well.

[2021-03-07 16:30] suhaibmujahid commented on #722
Thank you @gugu, this will be great.

@jamesmfriedman could you check this?

[2021-03-07 16:36] gugu commented on #722
Sorry for disappointing. After some research I've chose that material-components-web-components will be better choice for me - it also requires support and bugfixing, but at least I will not be alone

I've tried to upgrade rmwc to v10 of material components. You can check my (incomplete) work here: https://github.com/Short-io/rmwc. Most of components upgraded successfully except of textfield (this

[2021-03-07 17:10] suhaibmujahid commented on #722
Thank you Andrii for sharing the insights of your attemption. It's sad seeing this project becoming abandoned.

[2021-07-27 17:19] #647 closed

[2021-08-04 22:01] aktary commented on #599
This appears to be a problem again.  Apparently, `@rmwc/checkbox` and `@rmwc/radio` depend on `@rmwc/toggleable`, and toggleable has the weird reference to `@emotion/core`.  This is all in v6.1.4.

[2021-11-23 21:19] jmasukawa commented on #671
I'm having the same issue as reported above, on 6.1.4. This was working on 5.7.2 in the same demo: https://rmwc.io/version/5.7.2/text-fields

[2022-01-05 02:40] jmasukawa commented on #680
I'm also encountering this problem. As I understand it, the root cause comes from the [measure ref for the notched outline](https://github.com/jamesmfriedman/rmwc/blob/master/src/notched-outline/foundation.tsx#L20) setting the width for the notch when the DOM is in an "unstable" state.

In the case of a `Dialog` or `Drawer`, the "unstable" scenario occurs during transition / animation as the `Dial

[2022-02-07 09:57] antoniogamizbadger commented on #705
Any updates on this? :(((

[2022-02-17 12:02] thaestrup commented on #705
Support for React 17 is out now in the latest version. Updates of material-components-web are next in pipeline. There is a PR for v6 here https://github.com/jamesmfriedman/rmwc/pull/748.
Update to v7 is being worked on ATM and the rest of the version updates will follow after that.

[2022-02-20 08:40] b-d-m-p opened #758 "Project Lazarus"
This is an issue to list the things we need to do to get RMWC updated in the near future. James, the team at Nykredit and I had a meeting, and will do so weekly to help get through these things listed here. Our goal is to update versions and get RMWC up to date with MDC.

Some of these things might no longer be relevant. We need to go over them once.

# Roadmap

- [x]  **Get https://github.com/jam

[2022-02-20 08:43] b-d-m-p commented on #758
@jamesmfriedman @EmiBemi Some of this is probably out of date or nonsense, but this is everything I had.

[2022-02-20 08:57] b-d-m-p commented on #758
@EmiBemi Who set up the second meeting? Maybe we could make it a reoccurring invite. If it is annoying to do with Zoom, I know that Google Calendar has Google Meet links built in, so we could do it with that or use my Whereby.

[2022-02-20 08:58] b-d-m-p commented on #758
@jamesmfriedman @EmiBemi I'm wondering if we could get these people involved. https://github.com/uxpin-merge/rmwc-merge

[2022-02-20 16:20] EmiBemi commented on #758
Looks good. I figured out the SSR testing thing. Turns out it was material who introduced a bug. Should be fixed in material 7.

I set up the second meeting. I will try and make it a reoccuring invite in Google.

The uxpin thing doesn't look like something they are working actively on.

[2022-03-06 03:57] #691 closed

[2022-03-06 03:57] #692 closed

[2022-03-06 03:57] #694 closed

[2022-03-06 03:57] #696 closed

[2022-03-06 03:57] #698 closed

[2022-03-06 03:57] #700 closed

[2022-03-06 03:57] #701 closed

[2022-03-06 03:57] #702 closed

[2022-03-06 03:57] #704 closed

[2022-03-06 03:57] #705 closed

[2022-03-06 03:57] #706 closed

[2022-03-06 03:57] #709 closed

[2022-03-06 03:57] #710 closed

[2022-03-06 03:57] #712 closed

[2022-03-06 03:57] #713 closed

[2022-03-06 03:57] #714 closed

[2022-03-06 03:57] #715 closed

[2022-03-06 03:57] #716 closed

[2022-03-06 03:57] #717 closed

[2022-03-06 03:57] #718 closed

[2022-03-06 03:57] #719 closed

[2022-03-06 03:57] #722 closed

[2022-03-06 03:57] #724 closed

[2022-03-06 03:57] #636 closed

[2022-03-06 03:57] #639 closed

[2022-03-06 03:57] #642 closed

[2022-03-06 03:57] #643 closed

[2022-03-06 03:57] #648 closed

[2022-03-06 03:57] #650 closed

[2022-03-06 03:57] #651 closed

[2022-03-06 03:57] #658 closed

[2022-03-06 03:57] #659 closed

[2022-03-06 03:57] #660 closed

[2022-03-06 03:57] #664 closed

[2022-03-06 03:57] #668 closed

[2022-03-06 03:57] #671 closed

[2022-03-06 03:57] #672 closed

[2022-03-06 03:57] #673 closed

[2022-03-06 03:57] #675 closed

[2022-03-06 03:57] #676 closed

[2022-03-06 03:57] #680 closed

[2022-03-06 03:57] #681 closed

[2022-03-06 03:57] #682 closed

[2022-03-06 03:57] #683 closed

[2022-03-06 03:57] #684 closed

[2022-03-06 03:57] #689 closed

[2022-03-06 03:57] #690 closed

[2022-03-06 03:57] #528 closed

[2022-03-06 03:57] #530 closed

[2022-03-06 03:57] #550 closed

[2022-03-06 03:57] #553 closed

[2022-03-06 03:57] #566 closed

[2022-03-06 03:57] #571 closed

[2022-03-06 03:57] #596 closed

[2022-03-06 03:57] #600 closed

[2022-03-06 03:57] #607 closed

[2022-03-06 03:57] #609 closed

[2022-03-06 03:57] #610 closed

[2022-03-06 03:57] #611 closed

[2022-03-06 03:57] #613 closed

[2022-03-06 03:57] #616 closed

[2022-03-06 03:57] #618 closed

[2022-03-06 03:57] #620 closed

[2022-03-06 03:57] #621 closed

[2022-03-06 03:57] #623 closed

[2022-03-06 03:57] #626 closed

[2022-03-06 03:57] #627 closed

[2022-03-06 03:57] #629 closed

[2022-03-06 03:57] #632 closed

[2022-03-06 03:57] #633 closed

[2022-03-06 03:58] #80 closed

[2022-03-06 03:58] #173 closed

[2022-03-06 03:58] #205 closed

[2022-03-06 03:58] #277 closed

[2022-03-06 03:58] #437 closed

[2022-03-06 03:58] #441 closed

[2022-03-06 03:58] #467 closed

[2022-03-06 03:58] #480 closed

[2022-03-06 03:58] #490 closed

[2022-03-06 03:58] #493 closed

[2022-03-06 03:58] #501 closed

[2022-03-06 03:58] #507 closed

[2022-03-06 03:58] #512 closed

[2022-03-06 03:58] #521 closed

[2022-03-06 03:58] #524 closed

[2022-03-06 04:52] PeterNjeim commented on #758
Hello, I haven't used RMWC for over 2 years since I've moved away from React, but recently got notified about this repo due to the closing of my issue that I made here. I'm not here to talk about that issue, but to notify you that Material Web is moving to Material You (Material Design 3) components in late 2022: https://github.com/material-components/material-web/issues/3050#issuecomment-10114470

[2022-03-06 05:34] Immortalin commented on #758
Link to Material You: https://m3.material.io/

[2022-03-06 09:28] EmiBemi commented on #758
Thank you @PeterNjeim. Several companies are still using RMWC quite heavily, so it is still of interest to make RMWC healthy and get it up to speed with material-component-web.

[2022-03-06 16:35] Immortalin commented on #758
@emibemi I think Material You is the next iteration for Material Design, it is not a separate project. Material Web Components will implement Material You eventually.

[2022-03-06 16:47] PeterNjeim commented on #758
material-components-web will not be updated past version 2. material-web will be for version 3 and beyond: https://github.com/material-components/material-web/issues/3050#issuecomment-1011464627

[2022-03-06 19:32] EmiBemi commented on #758
@Immortalin I thought it would be a seperate project: https://github.com/material-components/material-web

[2022-03-06 20:53] jamesmfriedman commented on #758
Agreed that getting RMWC up to date with material 2 is priority.

Also hearing that M3 won't be available until late 2022 means it will likely be in beta status for a year after that. I personally paid the price of adopting mat web 2 early.

And who knows, once this project is healthy, maybe it gets forked and RMWC3 becomes a thing.

[2022-03-06 21:24] Immortalin commented on #758
Binding Material 3 Web is probably easier since they are written with Lit and there is this first-party library https://www.npmjs.com/package/@lit-labs/react

Less custom code will be needed for RMWC 3

[2022-03-07 18:37] ryanolsonx commented on #706
@jamesmfriedman Closed because fixed?

[2022-03-11 14:35] lightandbright commented on #696
Im experiencing similar issues (on hover or select does not highlight list item), but only when List is child of DialogContent. I notice your list is inside Drawer, perhaps, that could be an issue (similar to my list being inside dialog).

not sure what the solution is, css imported as you do

[2022-03-14 04:22] juliancoleman commented on #689
Why was this closed with no discourse?

[2022-03-18 13:17] EmiBemi commented on #706
Hi @ryanolsonx, please see the message in the readme on https://github.com/jamesmfriedman/rmwc
"We recently closed all issues for a full reset as we get back to the most recent Google version. If any still apply, please reopen."

[2022-03-18 13:18] EmiBemi commented on #689
Hi @juliancoleman, please see the message in the readme on https://github.com/jamesmfriedman/rmwc
"We recently closed all issues for a full reset as we get back to the most recent Google version. If any still apply, please reopen."

[2022-03-30 19:00] jmasukawa opened #777 "TextField `characterCount` does not work."
Re-opening per "issue bankruptcy / full reset", this one is still an issue.

- What RMWC Version are you using [major.minor.patch]: 7.0.2

- Describe the bug with as much detail as possible:
See @nicholaschiang's original issue (https://github.com/jamesmfriedman/rmwc/issues/671), which has a lot of details about the problem, and is still an accurate description of the bug.

This was originally rep

[2022-04-01 12:38] b-d-m-p commented on #777
@jmasukawa Thanks! I'll look into it!

[2022-04-20 05:30] Pramothini-Sekar opened #779 "[TS File Not Found Error] ENOENT: no such file or directory, open '/node_modules/@material/ripple/index.ts'"
- What RMWC Version are you using [major.minor.patch]: 7.0.3

- Name your build system [Webpack, Rollup...]: ReactJS (Yarn/NPM)

- Describe the bug with as much detail as possible:

I am working on a ReactJS Web app and wanted to utilize the ChipSet/Chip component provided by RMWC. Steps I followed to get this working:

1. `yarn install @rmwc/chip`
2. Added `import '@rmwc/chip/styles';` to the fil

[2022-04-20 06:34] thaestrup commented on #779
Are you using another version of Webpack than the one provided by RMWC. These warnings usually appears when using the newer Webpack 5. They exists because our upstream dependency to @material does not provide the source in the distribution. We are working on an upgrade of a number of dependencies including Webpack and in that upgrade we have disabled these warnings. The proper fix would be for the

[2022-04-20 06:34] #779 closed

[2022-04-20 13:12] Pramothini-Sekar commented on #779
Thanks a ton, Thomas!

Yes, I'm using the latest version for everything.

As you mentioned, I shall just ignore the error messages for now. 👍🏼

[2022-04-21 16:43] sakekasi commented on #708
Just wanted to bump this. I'm using `Portal` in SSR, and it still has this issue

[2022-04-21 17:44] EmiBemi commented on #708
Reopened due to this still being an issue

[2022-04-24 17:05] L-u-k-e opened #781 "`preventOutsideDismiss` does not work correctly if toggled after dialog opens"
- What RMWC Version are you using [major.minor.patch]:
7.0.2

- Name your build system [Webpack, Rollup...]:
Next.js

- Describe the bug with as much detail as possible:

The `Dialog` component's `preventOutsideDismiss` prop is supposed to prevent the dialog from closing when the scrim is clicked OR when the escape key is pressed. It works for the most part, but if the prop is initially false, and

[2022-04-24 17:32] L-u-k-e commented on #781
Actually: also wondering if this would also be causing a bug wherein event listeners aren't being cleaned up properly. E.g. if handleDocumentKeydown is regenerated, but never attached. Later when the dialog closes, I think this code will be trying to remove the wrong function (it will be trying to remove the new one, but it's the old one that's attached).

[code]

[2022-04-25 07:26] thaestrup commented on #781
Thanks for reporting this. If you feel like it you are welcome to try and make a PR that fixes this bug. If not we will look into it once #758 is done.

[2022-05-31 21:20] jmasukawa opened #787 "TextField notched label does not render correctly in `Dialog`"
Re-opening per "issue bankruptcy / full reset", this one is still an issue.

Original issue: https://github.com/jamesmfriedman/rmwc/issues/680

Sandbox (issue in `Dialog`): https://codesandbox.io/s/rmwc-typescript-sandbox-sflq6?file=/src/index.tsx

- What RMWC Version are you using [major.minor.patch]: Sandbox is using "latest" (should be 7.0.2).

- Name your build system [Webpack, Rollup...]: uns

[2022-06-03 13:27] EmiBemi commented on #777
Closed as it has now been fixed and released with v8!

[2022-06-03 13:27] #777 closed

[2022-06-04 14:47] EmiBemi commented on #781
Closed as it has now been fixed https://github.com/jamesmfriedman/rmwc/pull/786

[2022-06-04 14:47] #781 closed

[2022-06-09 14:10] ivanudovin-roonyx opened #797 "Basic css setting are unavailable"
I'm sorry for the nooby question, but if it's a wrapper for setting easy props, how do I set basic CSS like color and sizes. I think I got all documentation to read but this Theme doesn't include props.
Sandbox from the site has a simple import Button with custom color and size. Just give me a simple example with the red button twice bigger and maybe I will understand how to use it.
I killed a day

[2022-06-10 07:28] EmiBemi commented on #797
Hi, no problem asking this question :) There are a few ways you can alter the styling of e.g. a <Button />.
Here's a few examples:

Inline styling: `<Button style={{ color: 'red' }}>Hello</Button>`

Styling with className: `<Button className="button-style">Hello</Button>`
And in the .css file: `.button-style.mdc-button { color: red; }`

Styling with theming: <Button theme="primaryBg">Hello</Button

[2022-06-10 12:35] endymion1818 opened #798 "When using testing-library/cypress, tests failures intermittently on text and Typography elements"
- What RMWC Version are you using [major.minor.patch]:

`7.0.3`

- Name your build system [Webpack, Rollup...]:

Webpack

- Describe the bug with as much detail as possible:

I upgraded to RMWC v7, then ran Cypress tests.

- What happened, and what was supposed to happen:

The upgrade has resulted in `cy.findByText()` to fail on some elements (using `@testing-library/cypress` v 8.0.2). The tests s

[2022-06-10 13:03] endymion1818 commented on #798
Update on this, `cy.findAllByText()` _does_ seem to work

[2022-06-10 13:43] jamesmfriedman opened #799 "MCW V14"
Master Task for bringing all MCW components up to current. All components should also include updated tests using @react/testing-library

Tasks
- [ ] Convert `tag` prop to `as` and look into using a polymorphic helper instead of custom createComponent
- [ ] Discovery around useFoundation api cleanup
- [x] Convert to @react/testing-library and remove Enzyme
- [ ] Fix storybook (currently loading in

[2022-06-11 15:06] #798 closed

[2022-06-14 09:42] oisinlavery opened #800 "Menu.renderToPortal broken in 8.0.0"
Using Menu.renderToPortal causes the menu to appear at the top left of the page instead of being placed by the MenuSurfaceAnchor.

Console error:
`portal.tsx:32 No default Portal found. Did you forget to include it in the root of your app? 'import { Portal } from "@rmwc/base";'`

**This bug is visible in the documentation**

1. visit https://rmwc.io/menus
2. scroll down to the **Rendering through

[2022-06-17 07:42] EmiBemi opened #802 "rmwc.io bugfixes"
After release of RMWC v8, a few bugs on rmwc.io has appeared. Here's a list:
- [x] 1. Textfield datepicker is gone
- [ ] 2. Theme fab menu is broken when you scroll
- [ ] 3. When clicking on the "Menus" component docs, a menu appears in the top left corner https://github.com/jamesmfriedman/rmwc/issues/800
- [x] 4. Select displays the value and not the label when using the `{value: '1', label: 'coo

[2022-06-17 13:29] b-d-m-p commented on #802
4 is related to the renderToPortal prop. If you uncheck the "Render to portal" checkbox, it will appear clipped over thje button in the div above and if you  check the box, it will appear that it does not work, but it is not anchored to the proper place and appears at the top. If you uncheck it and scroll up, you can see it is not there anymore.

[2022-06-17 13:35] b-d-m-p commented on #802
@EmiBemi You're talking about the native Chrome datepicker, yeah?
The date picker appears in Firefox Developer Edition, not in Chrome though.

[2022-06-17 13:44] b-d-m-p commented on #802
What is the fab here? Like Floating Action Button? The theme switcher menu is appearing in the top left. Is this the issue you are talking about? This is the same renderToPortal problem as no. 3.

[2022-06-17 14:34] EmiBemi commented on #802
@b-d-m-p
1: Yes it's broken in Chrome and Edge that uses chromium
2: Yes the theme picker in the top left
3: This is what I mean:
<img width="548" alt="Screenshot 2022-06-17 at 16 34 02" src="https://user-images.githubusercontent.com/12230809/174319507-0c5f47b3-b916-46a4-85ac-a05dedbb8521.png">

[2022-06-17 14:51] b-d-m-p commented on #802
3. is this bug https://github.com/jamesmfriedman/rmwc/issues/800 I'm looking at the portal code, but haven't figured out how to approach it yet.

[2022-06-19 16:36] EmiBemi opened #804 "Convert to React Testing Library"
Let's rewrite all test to use React Testing Library instead of Enzyme.
Below is a list of all components tests that needs to be rewritten. Let's keep track by winging finished components off and mark ongoing work with "in progress".

- [x] avatar (https://github.com/jamesmfriedman/rmwc/pull/805)
- [x] badge (https://github.com/jamesmfriedman/rmwc/pull/805)
- [x] base (https://github.com/jamesmfrie

[2022-06-23 11:38] ivanudovin-roonyx commented on #275
So what a basic Onclick option should look like for Button?
this is what I have:  <button onClick={onSubmit}>Send</button>
and this is what doesn't work with rmwc:   <SendButton onClick={onSubmit}  />

last one is basic rc:
[code]

[2022-06-24 13:17] jamesmfriedman commented on #797
Thanks for the inquiry! Stack overflow or discord are a better place for basic questions. Thanks for trying out RMWC!

[2022-06-24 13:17] #797 closed

[2022-06-25 04:22] b-d-m-p commented on #800
I dug around and had some interesting things I observed, but I am not sure what exactly is causing it. Maybe some of you might have an idea. https://www.loom.com/share/81c254057a234818971e1b317fc35c46

[2022-06-25 07:49] b-d-m-p commented on #800
I made this codesandbox with the issue in isolation. https://codesandbox.io/s/rmwc-typescript-sandbox-forked-ikujd9?file=/src/index.tsx

[2022-07-27 15:55] #804 closed

[2022-08-06 15:49] eleith opened #815 "react 18 and strict mode are not compatible with rmwc 8"
## version

8.0.1

## issue

in react 16 / 17, RMWC "works" with react strict mode, but there are [known warnings about a deprecated function](https://github.com/jamesmfriedman/rmwc/issues/512)

in react 18, these errors can no longer be ignored. many components now behave unexpectedly with strict mode on. as one example, ripple no longer works when rendered in strict mode:

https://codesandbox.io

[2022-08-19 20:15] kintz09 opened #817 "Icon component sizing only works when using the Material Icons font"
Sandbox: https://codesandbox.io/s/rmwc-icon-svg-icon-without-material-icons-font-test-ns8lok
RMWC Version: 8.0.1
Build environment: CRA4 with webpack

I recreated the bug with _RMWC Version 8.0.1_, but I think this likely affect all prior version as well. I confirmed the issue in a CRA4 with webpack application as well as the codesandbox environment linked above.

**Bug description**
When using th

[2022-08-20 12:10] b-d-m-p commented on #799
When running the docs locally on this branch or one of the v14 component branches and you get an error like this:
[code]
... then run `npm dedupe` and `npm install` and it will fix it. Thanks to @EmiBemi .

[2022-09-26 21:40] jmasukawa commented on #777
Thank you so much!!

[2022-10-28 18:32] ajalexander opened #833 "Selected text label for enhanced select components"
RMWC Version 8.0.3

The `enhanced` version of the `<Select>` component allows for labels to be JSX elements in addition to strings. For example, the code below:

[code]

When used this way, however, there doesn't seem to be a way to control what is displayed as the text when the menu is closed.

Binding something to `value` would have controlled this at one point, but the bug fix in #801 changed t